<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voca Learna</title>
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Mochiy+Pop+One&family=Poppins:wght@100;200;300;400&family=Raleway:wght@100;300&display=swap" rel="stylesheet">
    <!--ICONS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/css/style.css" > <!-- don't need to specify public b/c you already did it on express --> 
</head>
<body>
    <header>
        <h1>Voca-Learna</h1>
    </header>
    <section class="list-creator">
        <h2>Create Word List</h2>

        <section class="vocab">
            <form action="/addVocabList" method="POST" class="vocab-header">
                <label for="unit">Enter "Unit" Name:</label>
                <input type="text" name="unit" placeholder="Unit">
                <label for="wordList">Enter Vocabulary Words: (Please enter one word per line)</label>
                <textarea rows="6" cols="45" name="wordList" placeholder="Vocabulary List"></textarea>
                <button type="submit"><span class="fas fa-plus"></span>Add Words to List</button> <!-- submit has a default button-->
            </form>

        </section>
    </section>

    <section class="vocab-container">
        <h2>Word List Inventory</h2>
            <% for(let i=0; i < info.length; i++) {%>
                <section class="vocab-list">
                    <ul class="lists">
                    <h3 class="unitTitle"><%= info[i].unit %></h3>
                    <% for (let j=0; j < info[i].wordList.length; j++) {%>
                        <li class="singleWord">
                            <span class="word"><%= info[i].wordList[j]%></span>
                            <span class="fa fa-pen"></span>
                            <span class='fa fa-trash word-trash'></span>
                        </li>
                    <% } %>
                    <span class='fa fa-trash'></span>
                    <span class='fa fa-heart'></span>
                    <span class='fa fa-box'></span>
                    </ul>
                </section>
            <% } %>
    </section>
    <script src='js/main.js'></script>
</body>
</html>