
* {
    font-family: 'Mochiy Pop One';
}

html {
    background-color: #1a659e;
}

section {
    background-color: #f7c59f; 
    padding: 15px; 
    border-radius: 15px;
    margin: 20px 20px 0 20px; 
}

.vocab-list {
    margin: 0px; 
    display: flex; 
    justify-content: space-evenly;  
    flex-wrap: wrap; 
}



input, 
label,
button {
    display: block;
}


/* color and style */
a {
    color: 004e89;
    text-decoration: none;
}

h1 {
    color: #ff6b35;
    margin: 20px;
}
h2 {
    color: #004e89;
}
li,
li > span.word {
    color: #f58a07;
}

li > span {
    color: #004e89;
    margin-left: 10px;
}

li > span + span {
    margin-left: 3px;
}

li.singleWord {
    display: flex; 
    justify-content: space-between; 
}
span.word {
    margin-right: 10px; 
}

a {
    color: #004e89; 
}
a:hover {
    color: #ff6b35; 
}
.word-trash:hover {
    color: #ff6b35; 
}

textarea{
    text-align:left;
}